/*<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>*/

* {
  font-family: 'Source Sans Pro', sans-serif;
  color: #222;

}

/* headers */
h1 {
  font-size: 2em;
  font-weight: bold;
}

h2 {
  font-size: 1.8em;
  font-weight: bold;
}

h3 {
  font-size: 1.6em;
  font-weight: bold;
}

h4 {
  font-size: 1.4em;
  font-weight: bold;
}

h5 {
  font-size: 1.2em;
  font-weight: bold;
}

/* lists */
ul {
  list-style-type: ;
}

/* text styling */
i,
em {
  font-style: italic;
}

b, strong {
  font-weight: bold;
}

a,
u, {
  text-decoration: underline;
}

a:visited {
  color: #551a8b;
}

sup {
  display: inline;
  font-size: smaller;
  line-height: normal; 
}

sub {
  vertical-align: sub;
  font-size: smaller;
  line-height: normal;
}
